<h1>Upcoming Flight</h1>

<ul>
	<li>Departure Date: <%= @flight.start_datetime %></li>
	<li>Leaving From: <%= @start_airport.code %></li>
	<li>Arriving At: <%= @end_airport.code %></li>
	<li>Passenger Name: <%= @passenger.name %></li>
</ul>